.removerEstilosBootstrap, .removerEstilosBootstrap:hover, .removerEstilosBootstrap:focus {
    outline: none;
    text-transform: none;
    text-decoration: none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.inputPadrao, .inputPadrao:hover, .inputPadrao:focus {
    border: solid 1px #c6c6c6;
}